# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
backend/.venv/
.venv/

# Local storage for uploads
backend/storage/

# Editor directories and files
.vscode/
.DS_Store

# Environment files
.env
